<?xml version="1.0" ?>
<robot name="mbot">

    <link name="base_link">
        <visual>
            <origin xyz=" 0 0 0" rpy="0 0 0" />
 		<geometry>
            		<mesh filename="file:////home/bing/carla-ros-bridge/src/ros-bridge/carla_ad_demo/launch/tesla_dae/tesla3_0.9.dae"/>
        	</geometry>

        </visual>
    </link>




</robot>
